# Laravel & PHP
/vendor/
.env
.env.backup
.phpunit.result.cache
Homestead.yaml
Homestead.json
/storage/*.key

# Laravel storage and cache
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/public/storage
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Node & frontend
/node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# IDE & OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Other system files
*.log
